@{
  ViewData["Title"] = "Recipe Details";
}
@model RecipeBox.Models.Recipe
@using RecipeBox.Models

<h2>@Html.DisplayFor(model => model.Title)</h2>
<p>Published: @Model.PublishDate.ToString("dd MMMM yyyy")</p>
<img height="400rem" src="@Html.DisplayFor(model => model.PhotoUrl)" alt="recipe image" />
<p>@Html.ActionLink("edit", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("delete", "Delete", new { id = Model.RecipeId })</p>
<hr />
<h4>@Html.DisplayFor(model => model.Description)</h4>
<p>...Ingredients Here...</p>
<h5>Steps:</h5>
<hr />
@if (Model.JoinEntities.Count == 0)
{
  <p>No instructions have been added to this recipe yet</p>
  <p>@Html.ActionLink("Add Step", "AddStep", new { id = Model.RecipeId })</p>
}
else
{
  <ul>
    @foreach (RecipeStep join in Model.JoinEntities)
    {
      <li>@join.Step.StepIndex</li>
    }

  </ul>
  }
  <hr />
  <p>..Comments here?...</p>
  <button>add comment</button>
